body {
    background-color: rgb(210, 214, 219);
}

.container1 {
    color: white;
    background-color:mediumseagreen;
    border-radius: 5px ;
    padding: 10px ;
    margin: 5px 10px 15px 20px;
    width: 500px;
    text-align: center;
    border: 2px solid tomato
    
    
}

.container2 {
    background-color: dodgerblue;
    border-radius: 5px ;
    padding: 10px ;
    margin: 5px 10px 15px 20px;
    width: 500px;
    text-align: center;
    color: white;
    border: mediumseagreen solid;
}

.container3 {
    background-color: tomato;
    border-radius: 5px ;
    padding: 10px ;
    margin: 5px 10px 15px 20px;
    width: 500px;
    text-align: center;
    color: white;
    border: dodgerblue solid;
}